@model WebsiteAdmin.Models.Sach

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tacGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tacGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.giaTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.giaTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nxb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nxb)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
