@model WebsiteAdmin.Models.SinhVienSach

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SinhVienSach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinhVienId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinhVienId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SachId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SachId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaymuon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaymuon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaytra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaytra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
